#Dateset

In [3]:
import pandas as pd
print(pd.__version__)

2.2.3

In [5]:
datos= {
    "nombre":['juan','maria','luis'],
    "Edades":[20,30,40],
    "ciudad":['madrid','barcelona','colombia']

}
#crear un dataframe 
tabla= pd.DataFrame(datos)
#mostrar el tipo de variable
print("la variable es de tipo:",type(tabla))
print(tabla)

la variable es de tipo: <class 'pandas.core.frame.DataFrame'>
  nombre  Edades     ciudad
0   juan      20     madrid
1  maria      30  barcelona
2   luis      40   colombia